<div class="movie-list-wrapper">
  <div class="movie-list-container">
    <h2>Movie List</h2>
    <div class="movie-list">
      <div *ngFor="let movie of movies" class="movie-card">
        <img [src]="movie.image" alt="{{ movie.title }}" class="movie-image">
        <div class="movie-details">
          <h3>{{ movie.title }}</h3>
          <p>Genre: {{ movie.genre }}</p>
          <p>Director: {{ movie.director }}</p>
          <p>Year: {{ movie.year }}</p>
          <button (click)="bookTicket()">Book Ticket</button>
        </div>
      </div>
    </div>
  </div>
</div>
